<html>

<head>
<title></title>
<meta name="description" content="This is a homework for JavaScript course by Pirple">
<link rel="stylesheet" type="text/css" href="presentation_style.css" />
</head>

<body>
 <div id="impress">
	<div class="no-support-message">
		Your browser doesn't support impress.js. Try Chrome or Safari.
	</div>


	<div id="title" class="step firstStep" data-x="600" data-y="100">
		<div class="semiTransparent">
		<div class="textStretch capitalText" id="intro">
			<div>How to effectively</div>
			<div>and speedily develop web and</div>
			<div>mobile apps built on a common</div>
			<div><span id="foundation">foundation</span></div>
		</div>
		<div class="container">
			<img src="img/angular.svg" height="200px"/>
		</div>
		<div class="smallComment">
			Angular is an open-source web application framework developed by Google and world-wide community.
			The project's base was previous versions of Angular that is reffered to as AngularJS.
			In this presentation will touch upon Angular2+.
			AngularJS and Angular2+ are driven by different solution styles. 
		</div>
		<div class="rotated blackShadow whiteBackground">Use space or arrows on keyboard to navigate :)</div>
	</div>
	</div>

	<div class="step blueBorder" data-x="600" data-y="-1100">
		<span class="title blueText">Technologies</span>
		<div class="textStretch capitalText">
			<div>Angular is a platform and framework for building single-page client applications using HTML and TypeScript. CSS is used to apply style onto HTML.</div>
		</div>
		<div class="container">
			<img src="img/technologies.png" height="200px"/>
		</div>
		<div class="smallComment">Angular is written in TypeScript which is a superset of 
			JavaScript that adds static typing, interfaces, generics, enumerated types and more.</div>
	</div>

	<div class="step" style="width: 800px;" data-x="-200" data-y="-1000" data-rotate="90">
		<span class="title blackText">Modules</span><span class="title smallTitle blackText">and</span>
		<span class="title pinkText">components</span>
		<span class="textStretch capitalText">
			<div>Angular app is a set of <strong class="purpleText">NgModules</strong>: at least 1 root module (AppModule) and any number of feature modules.
				The children of a module are called <strong class="greenText">components</strong>.
				NgModules (parents) provide a <strong class="babyBlueText">compilation context</strong> for their components.</div>
		</span>
		<div class="smallComment">Take a look at the root folder of an Angular app. The directories help to mark the hierarchy between the modules and components.</div>
		<div class="container">
			<img src="img/components_dir.png" height="400px" width="auto"/>
			<img src="img/components_diagram.png" height="400px" width="auto"/>
		</div>
	</div>

	<div class="step wideStep whiteBackground pinkShadow" data-x="-2600" data-y="-800" data-rotate-x="30" data-rotate-y="-60" data-rotate-z="90" data-scale="1">
		<span class="title pinkText">component</span>
		<div class="textStretch capitalText whiteBackground">
			is made up of 3 things: a TypeScript class, HTML view and CSS style.
		</div>
		<div class="smallComment">Look at the Product component class below.
			You define a component's application logic—what it does to support the view—inside a class.
			The class interacts with the view through an API of properties and methods.
			For example, ProductListComponent has a products property that holds an array of products.
		</div>	
		<div class="container">
			<img src="img/product_component.png" height="400px" width="auto"/>
		</div>
		<div class="smallComment">
			The <strong>@Component</strong> decorator identifies the class immediately below it as a component class, and specifies its metadata. 
		</div>	
		<div class="textStretch capitalText whiteBackground">
			<strong class="babyBlueText">Selector</strong> : A CSS selector that tells Angular to create and insert an instance of this component wherever it finds the corresponding tag in template HTML.  </br>
			<strong class="blueText">Template Url</strong> : The module-relative address of this component's HTML template.
		</div>
	</div>

	<div class="step wideStep darkBlueBorder" data-x="3300" data-y="800" data-rotate-x="-60" data-rotate-y="-60" data-rotate-z="90" data-scale="1">
		<span class="title blueText">view</span>
		<div class="textStretch capitalText whiteBackground">
			A component controls a patch of screen called a <strong class="blueText">view</strong>.
			You define a component's view with its companion template.
			A template is a form of HTML that tells Angular how to render the component.
		</div>
		<div class="container">
			<img src="img/view.png" height="auto" width="auto"/>
		</div>
		<div class="smallComment">
			 Template looks like regular HTML but it contains Angular <strong class="greenText">template syntax</strong>,
			 which alters the HTML. Your template can use data binding, pipes to transform data before it is displayed, and directives to apply app logic to what gets displayed.</div>
	</div>

	<div class="step" data-x="1200" data-y="0" data-rotate-x="60" data-rotate-y="60" data-rotate-z="90" data-scale="1">
		<span class="title blackText">Template syntax</span>
		<div>
			<ol class="title smallTitle">
				<li class="babyBlueText">Directives</li>
				<li class="orangeText">Data binding</li>
				<li class="greenText">Pipes</li>
			</ol>
		</div>
	</div>

	<div class="step wideStep bluePatternBackground" data-x="1200" data-y="-800" data-rotate-x="60" data-rotate-y="60" data-rotate-z="90" data-scale="1">
		<span class="title babyBlueText">Directives</span>
		<div class="importantContent">
			Directives are instructions used by Angular to transform DOM. A directive is a class with a @Directive() decorator. 
		</div>
		<div class="scroll">
			<div class=" mediumTitle pinkText">Structural directive</div>
			<div class="smallComment">Structural directives alter layout by adding, removing, and replacing elements in the DOM.
				The most popular ones are: *ngFor, *ngIf, ngSwitch (works together with *ngSwitchCase, *ngSwitchDefault).</div>
			<div class="container"><img src="img/structural_directive.png"/></div>
			<div class="mediumTitle orangeText">Attribute directive</div>
			<div class="smallComment">Attribute directives alter the appearance or behavior of an existing element.</div>
			<img src="img/attribute_directive.png"/>
		</div>
		<div class="rotated smallTitle greenText">You can also write your own directives!</div>
	</div>

	<div class="step wideStep greenWallpaper" data-x="1700" data-y="-1700">
		<div class="title orangeText rotated blackShadow" style="margin-bottom: 20px;">service</div>
		<div class="container">
			<img src="img/service.png">
		</div>
		<ul>
			<li>Service is any value, function, or feature that an app needs.</li>
			<li>A component can delegate certain tasks to services, such as fetching data from the server, validating input, or logging</li>
			<li>Services are injected into components via dependency injection.</li>
		</ul>
		<div class="container">
			<img src="img/service2.png">
		</div>
	</div>

	<div class="step extraWideStep pinkWallpaper" data-x="1600" data-y="800" data-rotate-x="40" data-rotate-y="90" data-rotate-z="180" data-scale="1.5">
		<span class="title purpleText">Pipe</span>
		<div class="importantContent">
			Pipes are simple functions you can use in templates to transform and format strings, currency amounts, dates, and other display data. 
		</div>
		<div class="container">
			<img src="img/pipe.png"/>
		</div>
		<div class="rotated rotatedAnticlock smallTitle purpleText pinkShadow">You can chain pipes like so: {{ birthday | date | uppercase}} !</div>
	</div>

	<div class="step extraWideStep purpleWallpaper" data-x="-800" data-y="900" data-rotate-x="40" data-rotate-y="-30" data-rotate-z="0" data-scale="1.5">
		<span class="title orangeText">Property binding</span>
		<div class="importantContent">lets you use a property value in a template expression.
			Eg.: <code>title</code> is property of <code>a</code> HTML tag. Below value of <code>title</code> is set to <code>product.name</code>
			 from TypeScript class, and concatenated with string <code>' details'</code>.
		</div>
		<div class="container">
			<img src="img/prop_binding.png"/>
		</div>
	</div>

	<div class="step extraWideStep" data-x="-1000" data-y="0">
		<div id="angular_logo" class="pinkShadow rotated rotatedAnticlock blackBackground"><img src="img/angular_logo.png"/></div>
		<div class="title pinkShadow purpleText rotated">Let's summarize...</div>
		
	</div>

	<div class="step cons" data-x="0" data-y="0">
		<div class="container" >
			<div class="imgContainer"><img src="img/sad.png"></div>
			<div class="titleContainer"><span class="title redText">Cons</span></div>
		</div>
		<ul class="red">
			<li>Constant framework updates add tons of work to the developers' plate</li>
			<li>Steep learning curve</li>
			<li>Big and compilated</li>
			<li>The lifecycle app is complex and time-consuming to master</li>
			<li><b>Poor</b> scalability</li>
			<li>Bad performance when rendering big data grids, lists which leds to UI lags*</li>
			<li>Name collisions are common</li>
		</ul>

		<div class="smallComment">*The culprit is so-called dirty checking, which is scanning scope for changes in variables. This can be time-ineffective.</div>
	</div>

	<div class="step greenWallpaper2" data-x="500" data-y="-500">
		<div class="container">
			<div class="imgContainer"><img src="img/happy.png"></div>
			<div class="titleContainer"><span class="title greenText">Pros</span></div>
		</div>
		<ul class="green">
			<li>Angular directly modifies DOM (it's fast!)</li>
			<li>Bindings between DOM elements and TypeScript code</li>
			<li>Hiding implementation details under the hood</li>
			<li>Reusing reliable, ready-to-go components</li>
			<li>Graphical templates of are more readable than when using other technologies, eg. jQuery</li>
			<li>Decoupling application’s logic from DOM manipulation</li>
		</ul>
	</div>
 </div>
 

</body>

<script src="impress.js"></script>
<script>
	impress().init();
</script>

</html>